In [1]:
import pandas as pd
# import featuretools as ft
from sklearn.model_selection import train_test_split
import os
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_squared_error
import math
from sklearn.metrics import mean_absolute_error

In [2]:
cd = os.getcwd()
raw_data_directory_path = "/".join(cd.split("/")[:-1]) + "/data/raw/"
processed_data_directory_path = "/".join(cd.split("/")[:-1]) + "/data/processed/"

In [3]:
weekly_data = pd.read_csv(processed_data_directory_path + "weekly_data.csv")

In [4]:
weekly_data

,ticker_symbol,post_date,open_value,high_value,low_value,close_value,volume,reaction_num,compound,writer,body,positive,negative,pct_change,ratio_pos,ratio_neg
0,AAPL,2014-12-29,112.82,113.13,107.35,109.33,101123903100,5185,0.161663,635,1969,1699,270,NaN,0.862875,0.137125
1,AAPL,2015-01-05,108.29,113.25,104.63,112.01,379213573670,6183,0.160282,1333,6684,5781,903,0.024513,0.864901,0.135099
2,AAPL,2015-01-12,112.60,112.80,105.20,105.99,386514603660,4830,0.112675,1369,6112,5088,1024,-0.053745,0.832461,0.167539
3,AAPL,2015-01-19,107.03,113.75,105.20,112.98,288118798950,4339,0.154350,1119,5584,4922,662,0.065950,0.881447,0.118553
4,AAPL,2015-01-26,113.74,120.00,109.03,117.16,1462857719310,26842,0.136326,4040,14469,12363,2106,0.036998,0.854447,0.145553
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567,TSLA,2019-12-02,329.40,338.86,327.25,335.89,35065979074,72862,0.098582,1391,5568,4137,1431,0.018034,0.742996,0.257004
1568,TSLA,2019-12-09,336.59,365.21,335.08,358.39,45602346100,81534,0.108424,1546,5924,4431,1493,0.066986,0.747974,0.252026
1569,TSLA,2019-12-16,362.55,413.00,362.50,405.59,118467977435,107569,0.126981,2304,8035,6178,1857,0.131700,0.768886,0.231114
1570,TSLA,2019-12-23,411.78,435.31,410.00,430.38,86675881048,108011,0.146264,2604,8020,6283,1737,0.061121,0.783416,0.216584
1571,TSLA,2019-12-30,428.79,429.00,402.08,418.33,27038708610,24356,0.108595,935,2302,1763,539,-0.027999,0.765856,0.234144

# Weekly Linear Regression `close_value` Model

In [6]:
current_features_indices = [0, 6, 7, 8, 9, 10, 11, 12, 14, 15]

features = weekly_data.iloc[:, current_features_indices]
response_variable = weekly_data.iloc[:, 5]

In [8]:
current_features = pd.get_dummies(features, prefix='ticker')

X_train, X_test, y_train, y_test = train_test_split(current_features, response_variable, test_size=0.25, random_state=42)

In [9]:
X_train

,volume,reaction_num,compound,writer,body,positive,negative,ratio_pos,ratio_neg,ticker_AAPL,ticker_AMZN,ticker_GOOG,ticker_GOOGL,ticker_MSFT,ticker_TSLA
86,196224543240,5267,0.060526,901,7725,6323,1402,0.818511,0.181489,1,0,0,0,0,0
1107,52779543060,1144,0.092671,238,1546,1351,195,0.873868,0.126132,0,0,0,0,1,0
1488,24107129303,22466,0.093710,953,4144,3034,1110,0.732143,0.267857,0,0,0,0,0,1
365,5188814536,2390,0.103006,557,2137,1816,321,0.849789,0.150211,0,1,0,0,0,0
265,11945130597,1748,0.117113,658,2023,1826,197,0.902620,0.097380,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1130,71559604970,1459,0.086105,413,2322,1938,384,0.834625,0.165375,0,0,0,0,1,0
1294,49923543340,5219,0.164745,733,1597,1402,195,0.877896,0.122104,0,0,0,0,1,0
860,1069602551,957,0.090259,296,707,614,93,0.868458,0.131542,0,0,0,1,0,0
1459,12113841226,6156,0.119133,790,2308,1902,406,0.824090,0.175910,0,0,0,0,0,1
1126,64854649600,1386,0.068433,373,1964,1682,282,0.856415,0.143585,0,0,0,0,1,0

In [10]:
X_test

,volume,reaction_num,compound,writer,body,positive,negative,ratio_pos,ratio_neg,ticker_AAPL,ticker_AMZN,ticker_GOOG,ticker_GOOGL,ticker_MSFT,ticker_TSLA
1120,46750288640,1118,0.059451,347,1927,1670,257,0.866632,0.133368,0,0,0,0,1,0
810,3781208321,1001,0.075850,311,1841,1719,122,0.933732,0.066268,0,0,0,1,0,0
1170,60811458920,1404,0.077829,381,2492,2196,296,0.881220,0.118780,0,0,0,0,1,0
534,3173856407,1484,0.106356,477,1996,1773,223,0.888277,0.111723,0,0,1,0,0,0
514,5799002699,6242,0.170674,855,2029,1676,353,0.826023,0.173977,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055,24357554350,1203,0.111154,277,812,747,65,0.919951,0.080049,0,0,0,0,1,0
1458,56023527596,16178,0.085310,1573,5048,3869,1179,0.766442,0.233558,0,0,0,0,0,1
1172,54114061220,1858,0.048889,372,1832,1443,389,0.787664,0.212336,0,0,0,0,1,0
1336,11980043111,1972,0.115595,625,2281,2053,228,0.900044,0.099956,0,0,0,0,0,1
989,1968315693,3343,0.222138,408,1122,938,184,0.836007,0.163993,0,0,0,1,0,0

In [11]:
# train, test = skle

In [12]:
reg = LinearRegression().fit(X_train, y_train)
y_pred = reg.predict(X_test)

In [13]:
def get_evaluation_metrics(y_true, y_pred, model_type=None):
    if model_type: 
        print("Model Type: {}".format(model_type))
    print("\tMSE: {:.4f}".format(mean_squared_error(y_true, y_pred)))
    print("\tRMSE: {:.4f}".format(math.sqrt(mean_squared_error(y_true, y_pred))))
    print("\tExplained Variance Score: {:.4f}".format(explained_variance_score(y_true, y_pred)))
    print("\tMAE: {:.4f}\n==========".format(mean_absolute_error(y_true, y_pred)))

In [14]:
get_evaluation_metrics(y_test, y_pred)

	MSE: 48093.5355
	RMSE: 219.3024
	Explained Variance Score: 0.7985
	MAE: 154.0381
==========

# Weekly Linear Regression `close_value` Combined Model

In [15]:
features["ticker_symbol"].value_counts()

AAPL     262
AMZN     262
GOOG     262
GOOGL    262
MSFT     262
TSLA     262
Name: ticker_symbol, dtype: int64

In [16]:
def get_data_split_by_ticker(feature_set):
    aapl = feature_set.loc[feature_set["ticker_symbol"]=="AAPL"]
    amzn = feature_set.loc[feature_set["ticker_symbol"]=="AMZN"]
    goog = feature_set.loc[feature_set["ticker_symbol"]=="GOOG"]
    googl = feature_set.loc[feature_set["ticker_symbol"]=="GOOGL"]
    msft = feature_set.loc[feature_set["ticker_symbol"]=="MSFT"]
    tsla = feature_set.loc[feature_set["ticker_symbol"]=="TSLA"]
    return aapl, amzn, goog, googl, msft, tsla

In [17]:
aapl, amzn, goog, googl, msft, tsla = get_data_split_by_ticker(weekly_data)

current_feature_indices = [6, 7, 8, 9, 10, 11, 12, 14, 15]

aapl_features = aapl.iloc[:, current_feature_indices]
aapl_rv = aapl.iloc[:, 5]

amzn_features = amzn.iloc[:, current_feature_indices]
amzn_rv = amzn.iloc[:, 5]

goog_features = goog.iloc[:, current_feature_indices]
goog_rv = goog.iloc[:, 5]

googl_features = googl.iloc[:, current_feature_indices]
googl_rv = googl.iloc[:, 5]

msft_features = msft.iloc[:, current_feature_indices]
msft_rv = msft.iloc[:, 5]

tsla_features = tsla.iloc[:, current_feature_indices]
tsla_rv = tsla.iloc[:, 5]

In [18]:
X_train_aapl, X_test_aapl, y_train_aapl, y_test_aapl = train_test_split(aapl_features, aapl_rv, test_size=0.25, random_state=42)
X_train_amzn, X_test_amzn, y_train_amzn, y_test_amzn = train_test_split(amzn_features, amzn_rv, test_size=0.25, random_state=42)
X_train_goog, X_test_goog, y_train_goog, y_test_goog = train_test_split(goog_features, goog_rv, test_size=0.25, random_state=42)
X_train_googl, X_test_googl, y_train_googl, y_test_googl = train_test_split(googl_features, googl_rv, test_size=0.25, random_state=42)
X_train_msft, X_test_msft, y_train_msft, y_test_msft = train_test_split(msft_features, msft_rv, test_size=0.25, random_state=42)
X_train_tsla, X_test_tsla, y_train_tsla, y_test_tsla = train_test_split(tsla_features, tsla_rv, test_size=0.25, random_state=42)

In [19]:

reg_aapl = LinearRegression().fit(X_train_aapl, y_train_aapl)
y_pred_aapl = reg_aapl.predict(X_test_aapl)

reg_amzn = LinearRegression().fit(X_train_amzn, y_train_amzn)
y_pred_amzn = reg_amzn.predict(X_test_amzn)

reg_goog = LinearRegression().fit(X_train_goog, y_train_goog)
y_pred_goog = reg_goog.predict(X_test_goog)


reg_googl = LinearRegression().fit(X_train_googl, y_train_googl)
y_pred_googl = reg_googl.predict(X_test_googl)


reg_msft = LinearRegression().fit(X_train_msft, y_train_msft)
y_pred_msft = reg_msft.predict(X_test_msft)

reg_tsla = LinearRegression().fit(X_train_tsla, y_train_tsla)
y_pred_tsla = reg_tsla.predict(X_test_tsla)

In [20]:
all_ticker_true = y_test_aapl + y_test_amzn + y_test_goog + y_test_googl + y_test_msft + y_test_tsla

In [21]:
all_ticker_true = pd.concat([y_test_aapl, y_test_amzn, y_test_goog, y_test_googl, y_test_msft, y_test_tsla])
all_ticker_pred = np.concatenate([y_pred_aapl, y_pred_amzn, y_pred_goog, y_pred_googl, y_pred_msft, y_pred_tsla])

In [22]:
get_evaluation_metrics(all_ticker_true, all_ticker_pred, "Combined Ticker Models")
get_evaluation_metrics(y_test, y_pred, "Single Model")

Model Type: Combined Ticker Models
	MSE: 14761.0156
	RMSE: 121.4949
	Explained Variance Score: 0.9396
	MAE: 76.5495
==========
Model Type: Single Model
	MSE: 48093.5355
	RMSE: 219.3024
	Explained Variance Score: 0.7985
	MAE: 154.0381
==========

### Between the two model types, it appears that there's a pretty significant performance boost when switching to a model that combines models for each `ticker_symbol`. All metrics seem to be worse for the model that uses `ticker_symbol` as a feature.