In [79]:
import pandas as pd
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import datetime
from datetime import timedelta

In [2]:
processed_data_directory_path = 'C:/Users/heath/Desktop/W207/w207_final_project/w207_final_project/data/processed/'
main_df = pd.read_csv(processed_data_directory_path+'cleaned_data.csv')

In [3]:
sid = SentimentIntensityAnalyzer()

In [4]:
main_df['sent_scores'] = main_df['body'].apply(lambda body: sid.polarity_scores(body))

In [5]:
main_df

,Unnamed: 0,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol,company_name,day_date,close_value,volume,open_value,high_value,low_value,return,sp_close,sp_pct_return,sent_scores
0,0,550886375860736000,TCBFx,2015-01-02,The Closing Bell is out! http://paper.li/BonaC...,0,0,0,AAPL,apple,2015-01-02,109.33,53143770,111.39,111.44,107.35,-0.009513,2058.20,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,1,550887748803256320,FractalHIS,2015-01-02,$AAPL #AAPL Looking forward to seeing how this...,0,1,1,AAPL,apple,2015-01-02,109.33,53143770,111.39,111.44,107.35,-0.009513,2058.20,NaN,"{'neg': 0.0, 'neu': 0.852, 'pos': 0.148, 'comp..."
2,2,550888743654400000,pricatti,2015-01-02,#Balances #resultados #cartera #portfolio$aapl...,0,0,1,AAPL,apple,2015-01-02,109.33,53143770,111.39,111.44,107.35,-0.009513,2058.20,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,3,550889239680790528,stock_forums,2015-01-02,"$PNOW Percent Change Updated Thursday, January...",0,0,0,AAPL,apple,2015-01-02,109.33,53143770,111.39,111.44,107.35,-0.009513,2058.20,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,4,550889252104327168,Chasing__Stars,2015-01-02,"$PLGC Stock Message Board Updated Thursday, Ja...",0,0,0,AAPL,apple,2015-01-02,109.33,53143770,111.39,111.44,107.35,-0.009513,2058.20,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3705416,3705416,1212142968037138432,faang_gang,2019-12-31,$GOOGL also flat today,1,0,0,GOOGL,Google Inc,2019-12-31,1339.39,976061,1335.79,1340.66,1332.13,-0.000239,3230.78,0.002946,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3705417,3705417,1212149780471853057,harveyrosenblum,2019-12-31,If this continues then the market will be enti...,0,0,2,GOOGL,Google Inc,2019-12-31,1339.39,976061,1335.79,1340.66,1332.13,-0.000239,3230.78,0.002946,"{'neg': 0.114, 'neu': 0.886, 'pos': 0.0, 'comp..."
3705418,3705418,1212150279656890374,luke_sosnowski,2019-12-31,Great day and years end over at #TRICKTRADES m...,1,2,7,GOOGL,Google Inc,2019-12-31,1339.39,976061,1335.79,1340.66,1332.13,-0.000239,3230.78,0.002946,"{'neg': 0.0, 'neu': 0.801, 'pos': 0.199, 'comp..."
3705419,3705419,1212150864066023427,Flower_Power_67,2019-12-31,#FastMoneyEspressoFINAL TRADES:Steve Grasso —>...,0,1,4,GOOGL,Google Inc,2019-12-31,1339.39,976061,1335.79,1340.66,1332.13,-0.000239,3230.78,0.002946,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3705420,3705420,1212157343351238656,naashonomics,2019-12-31,$FB $AMZN $GOOGL $NFLX #FANG 2019,0,0,0,GOOGL,Google Inc,2019-12-31,1339.39,976061,1335.79,1340.66,1332.13,-0.000239,3230.78,0.002946,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [ ]:
#I wonder what would happen if we aggregated # reactions (comments, likes, retweets) per post and used that as a feature.
#My hypothesis is that it would have more influence
#also maybe positive and negative per ticker symbol per day has more influence? 
#The closing price and return per is the same across the stock

In [6]:
main_df['compound']  = main_df['sent_scores'].apply(lambda score_dict: score_dict['compound'])

In [7]:
main_df['tweet_sent'] = main_df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

In [8]:
main_df['positive'] = main_df['tweet_sent'].apply(lambda c: 1 if c =='pos' else 0)

In [9]:
main_df['negative'] = main_df['tweet_sent'].apply(lambda c: 1 if c =='neg' else 0)

In [10]:
main_df['reaction_num'] = main_df['comment_num'] + main_df['retweet_num'] + main_df['like_num']

In [11]:
main_df.reaction_num.max()

1703

In [120]:
main_df = main_df.loc[~(main_df['compound'] == 0)]

In [121]:
main_df

,Unnamed: 0,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol,company_name,...,low_value,return,sp_close,sp_pct_return,sent_scores,compound,tweet_sent,positive,negative,reaction_num
1,1,550887748803256320,FractalHIS,2015-01-02,$AAPL #AAPL Looking forward to seeing how this...,0,1,1,AAPL,apple,...,107.35,-0.009513,2058.20,NaN,"{'neg': 0.0, 'neu': 0.852, 'pos': 0.148, 'comp...",0.3071,pos,1,0,2
6,6,550892610240659456,Market_Screener,2015-01-02,#Apple : OmniTicket Network Implements Apple P...,0,0,0,AAPL,apple,...,107.35,-0.009513,2058.20,NaN,"{'neg': 0.167, 'neu': 0.833, 'pos': 0.0, 'comp...",-0.1027,neg,0,1,0
7,7,550903830494187520,BitcoinGirI,2015-01-02,"See how tech companies like Apple, Twitter and...",0,0,0,AAPL,apple,...,107.35,-0.009513,2058.20,NaN,"{'neg': 0.0, 'neu': 0.865, 'pos': 0.135, 'comp...",0.3612,pos,1,0,0
11,11,550907572484440064,TradersRule,2015-01-02,$AAPL  from one cross structure support to an...,1,0,0,AAPL,apple,...,107.35,-0.009513,2058.20,NaN,"{'neg': 0.0, 'neu': 0.769, 'pos': 0.231, 'comp...",0.4019,pos,1,0,1
12,12,550907591241773056,TalkMarkets,2015-01-02,3 #Technology #Stocks That Crushed #Apple In 2...,0,0,0,AAPL,apple,...,107.35,-0.009513,2058.20,NaN,"{'neg': 0.149, 'neu': 0.851, 'pos': 0.0, 'comp...",-0.4215,neg,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3705410,3705410,1212110195804868608,420WeedStreet,2019-12-31,$SPY Congratulations to The FED Non-QE ..REPO....,0,0,2,GOOGL,Google Inc,...,1332.13,-0.000239,3230.78,0.002946,"{'neg': 0.0, 'neu': 0.889, 'pos': 0.111, 'comp...",0.6688,pos,1,0,2
3705413,3705413,1212117616271056898,pbay08,2019-12-31,$hd Perfect 20sma touch and run. This is going...,0,0,1,GOOGL,Google Inc,...,1332.13,-0.000239,3230.78,0.002946,"{'neg': 0.0, 'neu': 0.889, 'pos': 0.111, 'comp...",0.6705,pos,1,0,1
3705414,3705414,1212117905963397120,RealDayTrader10,2019-12-31,Happy New Year Everyone.$SPY $SPX $AAPL $AMZN ...,0,0,0,GOOGL,Google Inc,...,1332.13,-0.000239,3230.78,0.002946,"{'neg': 0.0, 'neu': 0.802, 'pos': 0.198, 'comp...",0.5719,pos,1,0,0
3705417,3705417,1212149780471853057,harveyrosenblum,2019-12-31,If this continues then the market will be enti...,0,0,2,GOOGL,Google Inc,...,1332.13,-0.000239,3230.78,0.002946,"{'neg': 0.114, 'neu': 0.886, 'pos': 0.0, 'comp...",-0.4767,neg,0,1,2
3705418,3705418,1212150279656890374,luke_sosnowski,2019-12-31,Great day and years end over at #TRICKTRADES m...,1,2,7,GOOGL,Google Inc,...,1332.13,-0.000239,3230.78,0.002946,"{'neg': 0.0, 'neu': 0.801, 'pos': 0.199, 'comp...",0.8481,pos,1,0,10

<b>Export Dataset with Sentiment</b>

In [15]:
main_df.to_csv(processed_data_directory_path+'main_df.csv')

In [5]:
main_df = pd.read_csv(processed_data_directory_path+'main_df.csv')

<b>try creating logic for each week </b>

In [123]:
main_df.columns

Index(['Unnamed: 0', 'tweet_id', 'writer', 'post_date', 'body', 'comment_num',
       'retweet_num', 'like_num', 'ticker_symbol', 'company_name', 'day_date',
       'close_value', 'volume', 'open_value', 'high_value', 'low_value',
       'return', 'sp_close', 'sp_pct_return', 'sent_scores', 'compound',
       'tweet_sent', 'positive', 'negative', 'reaction_num'],
      dtype='object')

In [124]:
logic = {'open_value'  : 'first',
         'high_value'  : 'max',
         'low_value'   : 'min',
         'close_value' : 'last',
         'volume': 'sum',
        'reaction_num': 'sum',
        'compound': 'mean',
        'writer': 'nunique',
        'body': 'count',
        'positive': 'sum',
        'negative': 'sum',
        'sp_close': 'last'}

In [125]:
from copy import deepcopy
test_df = deepcopy(main_df)

In [126]:
offset = pd.offsets.timedelta(days=6)

In [127]:
test_df.set_index('post_date', inplace = True)

In [128]:
test_df.index = pd.to_datetime(test_df.index)

In [129]:
#create weekly dataset per ticker symbol
summary_df = test_df.groupby('ticker_symbol').resample('W', loffset=offset).apply(logic)

In [130]:
summary_df

                          open_value  high_value  low_value  close_value  \
ticker_symbol post_date
AAPL          2015-01-10      111.39      111.44     107.35       109.33
              2015-01-17      108.29      113.25     104.63       112.01
              2015-01-24      112.60      112.80     105.20       105.99
              2015-01-31      107.84      113.75     106.50       112.98
              2015-02-07      113.74      120.00     109.03       117.16
...                              ...         ...        ...          ...
TSLA          2019-12-14      329.40      338.86     327.25       335.89
              2019-12-21      336.59      365.21     335.08       358.39
              2019-12-28      362.55      413.00     362.50       405.59
              2020-01-04      411.78      435.31     410.00       430.38
              2020-01-11      428.79      429.00     402.08       418.33

                                volume  reaction_num  compound  writer  body  \
ticker_symbol post_date
AAPL          2015-01-10   25774728450          1086  0.192629     275   485
              2015-01-17  187902248620          3161  0.275449     851  3298
              2015-01-24  182474199110          2237  0.200633     928  2977
              2015-01-31  103981295040          1817  0.287489     625  2106
              2015-02-07  757367131060         12503  0.242570    2733  7351
...                                ...           ...       ...     ...   ...
TSLA          2019-12-14   18801609605         40948  0.144709     982  3137
              2019-12-21   26845803508         47941  0.166838    1072  3405
              2019-12-28   68451210155         64267  0.185625    1610  4662
              2020-01-04   47993807274         60345  0.225722    1822  4303
              2020-01-11   17345401950         16837  0.168727     711  1480

                          positive  negative  sp_close
ticker_symbol post_date
AAPL          2015-01-10       331       154   2058.20
              2015-01-17      2438       860   2044.81
              2015-01-24      2027       950   2019.42
              2015-01-31      1565       541   2051.82
              2015-02-07      5346      2005   1994.99
...                            ...       ...       ...
TSLA          2019-12-14      1983      1154   3145.91
              2019-12-21      2177      1228   3168.80
              2019-12-28      3092      1570   3221.22
              2020-01-04      3013      1290   3240.02
              2020-01-11       941       539   3230.78

[1572 rows x 12 columns]

In [131]:
summary_df['pct_change'] = summary_df.groupby('ticker_symbol')['close_value'].pct_change().mul(100)
summary_df['sp_pct_change'] = summary_df.groupby('ticker_symbol')['sp_close'].pct_change().mul(100)

In [132]:
summary_df['ratio_pos'] = summary_df['positive'] / (summary_df['positive'] + summary_df['negative'])

In [133]:
summary_df['ratio_neg'] = summary_df['negative'] / (summary_df['positive'] + summary_df['negative'])

In [134]:
summary_df

                          open_value  high_value  low_value  close_value  \
ticker_symbol post_date
AAPL          2015-01-10      111.39      111.44     107.35       109.33
              2015-01-17      108.29      113.25     104.63       112.01
              2015-01-24      112.60      112.80     105.20       105.99
              2015-01-31      107.84      113.75     106.50       112.98
              2015-02-07      113.74      120.00     109.03       117.16
...                              ...         ...        ...          ...
TSLA          2019-12-14      329.40      338.86     327.25       335.89
              2019-12-21      336.59      365.21     335.08       358.39
              2019-12-28      362.55      413.00     362.50       405.59
              2020-01-04      411.78      435.31     410.00       430.38
              2020-01-11      428.79      429.00     402.08       418.33

                                volume  reaction_num  compound  writer  body  \
ticker_symbol post_date
AAPL          2015-01-10   25774728450          1086  0.192629     275   485
              2015-01-17  187902248620          3161  0.275449     851  3298
              2015-01-24  182474199110          2237  0.200633     928  2977
              2015-01-31  103981295040          1817  0.287489     625  2106
              2015-02-07  757367131060         12503  0.242570    2733  7351
...                                ...           ...       ...     ...   ...
TSLA          2019-12-14   18801609605         40948  0.144709     982  3137
              2019-12-21   26845803508         47941  0.166838    1072  3405
              2019-12-28   68451210155         64267  0.185625    1610  4662
              2020-01-04   47993807274         60345  0.225722    1822  4303
              2020-01-11   17345401950         16837  0.168727     711  1480

                          positive  negative  sp_close  pct_change  \
ticker_symbol post_date
AAPL          2015-01-10       331       154   2058.20         NaN
              2015-01-17      2438       860   2044.81    2.451294
              2015-01-24      2027       950   2019.42   -5.374520
              2015-01-31      1565       541   2051.82    6.594962
              2015-02-07      5346      2005   1994.99    3.699770
...                            ...       ...       ...         ...
TSLA          2019-12-14      1983      1154   3145.91    1.803358
              2019-12-21      2177      1228   3168.80    6.698622
              2019-12-28      3092      1570   3221.22   13.170010
              2020-01-04      3013      1290   3240.02    6.112084
              2020-01-11       941       539   3230.78   -2.799851

                          sp_pct_change  ratio_pos  ratio_neg
ticker_symbol post_date
AAPL          2015-01-10            NaN   0.682474   0.317526
              2015-01-17      -0.650568   0.739236   0.260764
              2015-01-24      -1.241680   0.680887   0.319113
              2015-01-31       1.604421   0.743115   0.256885
              2015-02-07      -2.769736   0.727248   0.272752
...                                 ...        ...        ...
TSLA          2019-12-14       0.156957   0.632133   0.367867
              2019-12-21       0.727611   0.639354   0.360646
              2019-12-28       1.654254   0.663235   0.336765
              2020-01-04       0.583630   0.700209   0.299791
              2020-01-11      -0.285183   0.635811   0.364189

[1572 rows x 16 columns]

In [135]:
#processing

In [136]:
summary_df[summary_df['compound']<0]

                          open_value  high_value  low_value  close_value  \
ticker_symbol post_date
GOOG          2018-06-30     1143.65   1186.2856    1143.59      1155.48
TSLA          2016-03-19      197.68    213.2900     197.40       207.50
              2016-07-16      209.73    219.8100     208.00       216.78

                              volume  reaction_num  compound  writer  body  \
ticker_symbol post_date
GOOG          2018-06-30   659438425           520 -0.028455     197   464
TSLA          2016-03-19  3062515451           575 -0.018868     270   742
              2016-07-16  4924471570          1791 -0.003684     452  1072

                          positive  negative  sp_close  pct_change  \
ticker_symbol post_date
GOOG          2018-06-30       229       235   2754.88    0.279451
TSLA          2016-03-19       360       382   2022.19    3.213291
              2016-07-16       528       544   2129.90    0.129330

                          sp_pct_change  ratio_pos  ratio_neg
ticker_symbol post_date
GOOG          2018-06-30      -0.891476   0.493534   0.506466
TSLA          2016-03-19       1.110006   0.485175   0.514825
              2016-07-16       1.281533   0.492537   0.507463

In [137]:
summary_df.to_csv(processed_data_directory_path+'weekly_data_with_SP500.csv')

<b>Get daily data</b>

In [55]:
#offset = pd.offsets.timedelta(days=-1)

In [138]:
test_df = deepcopy(main_df)
test_df.set_index('post_date', inplace = True)
test_df.index = pd.to_datetime(test_df.index)

In [139]:
daily_df = test_df.groupby('ticker_symbol').resample('D').apply(logic)

In [140]:
daily_df['pct_change'] = daily_df.groupby('ticker_symbol')['close_value'].pct_change().mul(100)
daily_df['sp_pct_change'] = daily_df.groupby('ticker_symbol')['sp_close'].pct_change().mul(100)
daily_df['ratio_pos'] = daily_df['positive'] / (daily_df['positive'] + daily_df['negative'])
daily_df['ratio_neg'] = daily_df['negative'] / (daily_df['positive'] + daily_df['negative'])

In [141]:
daily_df.dropna(inplace=True)

In [142]:
daily_df

                          open_value  high_value  low_value  close_value  \
ticker_symbol post_date
AAPL          2015-01-05      108.29      108.65   105.4100       106.25
              2015-01-06      106.54      107.43   104.6300       106.26
              2015-01-07      107.20      108.20   106.6950       107.75
              2015-01-08      109.23      112.15   108.7000       111.89
              2015-01-09      112.67      113.25   110.2100       112.01
...                              ...         ...        ...          ...
TSLA          2019-12-24      418.36      425.47   412.6875       425.25
              2019-12-26      427.91      433.48   426.3500       430.94
              2019-12-27      435.00      435.31   426.1100       430.38
              2019-12-30      428.79      429.00   409.2589       414.70
              2019-12-31      405.00      421.29   402.0800       418.33

                               volume  reaction_num  compound  writer  body  \
ticker_symbol post_date
AAPL          2015-01-05  42443391680           661  0.246681     307   661
              2015-01-06  44007107500           540  0.260047     289   670
              2015-01-07  24629743600           476  0.299650     214   616
              2015-01-08  46565814120          1025  0.315543     350   787
              2015-01-09  30256191720           459  0.245080     243   564
...                               ...           ...       ...     ...   ...
TSLA          2019-12-24   6532377920         12659  0.230297     502   811
              2019-12-26   9476978100         11527  0.194313     503   890
              2019-12-27   7985375254         11119  0.190109     460   802
              2019-12-30  11530162050         10484  0.147738     500   915
              2019-12-31   5815239900          6353  0.202719     348   565

                          positive  negative  sp_close  pct_change  \
ticker_symbol post_date
AAPL          2015-01-05       471       190   2020.58   -2.817159
              2015-01-06       490       180   2002.61    0.009412
              2015-01-07       469       147   2025.90    1.402221
              2015-01-08       615       172   2062.14    3.842227
              2015-01-09       393       171   2044.81    0.107248
...                            ...       ...       ...         ...
TSLA          2019-12-24       565       246   3223.38    1.438386
              2019-12-26       599       291   3239.91    1.338036
              2019-12-27       534       268   3240.02   -0.129948
              2019-12-30       562       353   3221.29   -3.643292
              2019-12-31       379       186   3230.78    0.875332

                          sp_pct_change  ratio_pos  ratio_neg
ticker_symbol post_date
AAPL          2015-01-05      -1.827811   0.712557   0.287443
              2015-01-06      -0.889349   0.731343   0.268657
              2015-01-07       1.162982   0.761364   0.238636
              2015-01-08       1.788835   0.781449   0.218551
              2015-01-09      -0.840389   0.696809   0.303191
...                                 ...        ...        ...
TSLA          2019-12-24      -0.019541   0.696671   0.303329
              2019-12-26       0.512816   0.673034   0.326966
              2019-12-27       0.003395   0.665835   0.334165
              2019-12-30      -0.578083   0.614208   0.385792
              2019-12-31       0.294602   0.670796   0.329204

[7542 rows x 16 columns]

In [145]:
daily_df['compound'].min()

-0.34758928571428765

In [146]:
daily_df.to_csv(processed_data_directory_path+'daily_data_with_SP500.csv')