In [2]:
import pandas as pd
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [4]:
processed_data_directory_path = 'C:/Users/heath/Desktop/W207/w207_final_project/w207_final_project/data/processed/'
main_df = pd.read_csv(processed_data_directory_path+'cleaned_data.csv')

In [21]:
sid = SentimentIntensityAnalyzer()

In [22]:
main_df['sent_scores'] = main_df['body'].apply(lambda body: sid.polarity_scores(body))

In [5]:
main_df

,Unnamed: 0,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol,company_name,day_date,close_value,volume,open_value,high_value,low_value,return,sent_scores
0,0,550517928399888384,jrs101780,2015-01-01,@davenathan I just expected something more ext...,1,0,0,AAPL,apple,2015-01-01,110.38,41304780,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.643, 'pos': 0.357, 'comp..."
1,1,550518033622368256,bobcatturner,2015-01-01,"Week's Winners and Losers: Apple Gels, Marriot...",0,0,0,AAPL,apple,2015-01-01,110.38,41304780,112.82,113.13,110.21,NaN,"{'neg': 0.184, 'neu': 0.649, 'pos': 0.168, 'co..."
2,2,550520264228737024,MilesGeauxbye,2015-01-01,GOOD LUCK“@WSJ: Apple is being sued for falsel...,0,0,0,AAPL,apple,2015-01-01,110.38,41304780,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.805, 'pos': 0.195, 'comp..."
3,3,550521659044552706,bullandbearmash,2015-01-01,"Commented on: ""2015 Will Be Apple's Year: Rais...",0,0,0,AAPL,apple,2015-01-01,110.38,41304780,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,4,550523990243295232,TCBFx,2015-01-01,The Closing Bell is out! http://paper.li/BonaC...,0,0,1,AAPL,apple,2015-01-01,110.38,41304780,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4336269,4336269,1212142968037138432,faang_gang,2019-12-31,$GOOGL also flat today,1,0,0,GOOGL,Google Inc,2019-12-31,1339.39,976061,1335.79,1340.66,1332.13,-0.000239,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4336270,4336270,1212149780471853057,harveyrosenblum,2019-12-31,If this continues then the market will be enti...,0,0,2,GOOGL,Google Inc,2019-12-31,1339.39,976061,1335.79,1340.66,1332.13,-0.000239,"{'neg': 0.114, 'neu': 0.886, 'pos': 0.0, 'comp..."
4336271,4336271,1212150279656890374,luke_sosnowski,2019-12-31,Great day and years end over at #TRICKTRADES m...,1,2,7,GOOGL,Google Inc,2019-12-31,1339.39,976061,1335.79,1340.66,1332.13,-0.000239,"{'neg': 0.0, 'neu': 0.801, 'pos': 0.199, 'comp..."
4336272,4336272,1212150864066023427,Flower_Power_67,2019-12-31,#FastMoneyEspressoFINAL TRADES:Steve Grasso —>...,0,1,4,GOOGL,Google Inc,2019-12-31,1339.39,976061,1335.79,1340.66,1332.13,-0.000239,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4336273,4336273,1212157343351238656,naashonomics,2019-12-31,$FB $AMZN $GOOGL $NFLX #FANG 2019,0,0,0,GOOGL,Google Inc,2019-12-31,1339.39,976061,1335.79,1340.66,1332.13,-0.000239,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [ ]:
#I wonder what would happen if we aggregated # reactions (comments, likes, retweets) per post and used that as a feature.
#My hypothesis is that it would have more influence
#also maybe positive and negative per ticker symbol per day has more influence? 
#The closing price and return per is the same across the stock

In [23]:
main_df['compound']  = main_df['sent_scores'].apply(lambda score_dict: score_dict['compound'])

In [24]:
main_df['tweet_sent'] = main_df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

In [25]:
main_df['positive'] = main_df['tweet_sent'].apply(lambda c: 1 if c =='pos' else 0)

In [26]:
main_df['negative'] = main_df['tweet_sent'].apply(lambda c: 1 if c =='neg' else 0)

In [27]:
main_df['reaction_num'] = main_df['comment_num'] + main_df['retweet_num'] + main_df['like_num']

In [28]:
main_df.reaction_num.max()

1703

In [29]:
main_df.head(50)

,Unnamed: 0,Unnamed: 0.1,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol,...,open_value,high_value,low_value,return,sent_scores,compound,tweet_sent,reaction_num,positive,negative
0,0,0,550517928399888384,jrs101780,2015-01-01,@davenathan I just expected something more ext...,1,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.643, 'pos': 0.357, 'comp...",0.7769,pos,1,1,0
1,1,1,550518033622368256,bobcatturner,2015-01-01,"Week's Winners and Losers: Apple Gels, Marriot...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.184, 'neu': 0.649, 'pos': 0.168, 'co...",-0.0772,neg,0,0,1
2,2,2,550520264228737024,MilesGeauxbye,2015-01-01,GOOD LUCK“@WSJ: Apple is being sued for falsel...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.805, 'pos': 0.195, 'comp...",0.5622,pos,0,1,0
3,3,3,550521659044552706,bullandbearmash,2015-01-01,"Commented on: ""2015 Will Be Apple's Year: Rais...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
4,4,4,550523990243295232,TCBFx,2015-01-01,The Closing Bell is out! http://paper.li/BonaC...,0,0,1,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,1,1,0
5,5,5,550526613071605760,stockwire24,2015-01-01,Apple Inc. (AAPL) May Be Too Dependent On The ...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
6,6,6,550527108619845632,SeekingAlpha,2015-01-01,Apple: Asian Carriers Are Making iPhone 6 Chea...,0,0,1,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,1,1,0
7,7,7,550527111383896064,QP_AAPL,2015-01-01,"$AAPL News: ""Apple: Asian Carriers Are Making ...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
8,8,8,550528465695694848,kevinleosmith,2015-01-01,2015 Will Be Apple's Year: Raising Price Targe...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
9,9,9,550530027012382721,LeRatton,2015-01-01,Apple: Asian Carriers Are Making iPhone 6 Chea...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
10,10,10,550530315450466304,LeRatton,2015-01-01,"""I am proud to report that emerging markets wi...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.756, 'pos': 0.244, 'comp...",0.7003,pos,0,1,0
11,11,11,550535222882996224,DukascopyForex,2015-01-01,"$AAPL stock content, charts, analysis, & more ...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.661, 'pos': 0.339, 'comp...",0.5563,pos,0,1,0
12,12,12,550539994159669249,IanGertler,2015-01-01,Wow! $AAPL #mobile MT @stevesi 'Computing powe...,0,4,4,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.806, 'pos': 0.194, 'comp...",0.6239,pos,8,1,0
13,13,13,550540927232929793,y3khan,2015-01-01,2014 is when $aapl came back from hibernation,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
14,14,14,550543810468773888,FTUtweet,2015-01-01,"$AAPL stock content, charts, analysis, & more ...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.661, 'pos': 0.339, 'comp...",0.5563,pos,0,1,0
15,15,15,550546944351666178,TopFlightTrades,2015-01-01,"For a Limited Time, Get free Premium Picks for...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.115, 'neu': 0.667, 'pos': 0.218, 'co...",0.4003,pos,0,1,0
16,16,16,550550191565045761,SeekingAlpha,2015-01-01,Bankers Face BlackBerry Dilemma As EZ Pass Pro...,0,3,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.1, 'neu': 0.709, 'pos': 0.191, 'comp...",0.3680,pos,3,1,0
17,17,17,550550196984086528,QP_AAPL,2015-01-01,"$AAPL News: ""Bankers Face BlackBerry Dilemma A...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.084, 'neu': 0.739, 'pos': 0.177, 'co...",0.4391,pos,0,1,0
18,18,18,550571472545415168,GiveBack2011,2015-01-01,2015 $AAPL prediction. The next big thing will...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.89, 'pos': 0.11, 'compou...",0.2755,pos,0,1,0
19,19,19,550572313393913856,Sara20992,2015-01-01,"THE BINARY OPTIONS COMPETITION WIN $100,000 ht...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.768, 'pos': 0.232, 'comp...",0.6739,pos,0,1,0
20,20,20,550578124615086080,10Pipstweet,2015-01-01,"$AAPL stock content, charts, analysis, & more ...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.625, 'pos': 0.375, 'comp...",0.5563,pos,0,1,0
21,21,21,550585500260909056,DukascopyForex,2015-01-01,"$AAPL stock content, charts, analysis, & more ...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.661, 'pos': 0.339, 'comp...",0.5563,pos,0,1,0
22,22,22,550589708036608001,moaz,2015-01-01,"Knight Rider; @BMW Remote Valet Parking, CarPl...",0,3,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,3,1,0
23,23,23,550590005878329344,SeekingAlpha,2015-01-01,"Apple, Micron, SunEdison Propel Greenlight To ...",0,2,1,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,3,1,0
24,24,24,550590012618579968,QP_AAPL,2015-01-01,"$AAPL News: ""Apple, Micron, SunEdison Propel G...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
25,25,25,550592217312919553,SentiQuant,2015-01-01,#TOPTICKERTWEETS $IMRS $SPY $AAPL $IGN $QUAD $...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
26,26,26,550592798932873216,LMLLL7,2015-01-01,DJ the hell out of that party;)Happy New Years...,0,0,1,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.224, 'neu': 0.776, 'pos': 0.0, 'comp...",-0.7339,neg,1,0,1
27,27,27,550601859610591232,BargainTrapper,2015-01-01,http://wp.me/p4f4mU-f7 <-- 2 stocks trading bo...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.649, 'pos': 0.351, 'comp...",0.8217,pos,0,1,0
28,28,28,550602865690288128,Sara20992,2015-01-01,"THE BINARY OPTIONS COMPETITION WIN $100,000 ht...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.768, 'pos': 0.232, 'comp...",0.6739,pos,0,1,0
29,29,29,550609173042298880,BargainTrapper,2015-01-01,http://goo.gl/6XU0N0 SuperTrades student on t...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.842, 'pos': 0.158, 'comp...",0.4926,pos,0,1,0
30,30,30,550610417064886272,Sara20992,2015-01-01,"THE BINARY OPTIONS COMPETITION WIN $100,000 ht...",0,0,1,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.768, 'pos': 0.232, 'comp...",0.6739,pos,1,1,0
31,31,31,550615099086360577,SeekingAlpha,2015-01-01,Intel: $100 Windows 8.1 Smart TV Dongles Are N...,0,3,2,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.87, 'pos': 0.13, 'compou...",0.4019,pos,5,1,0
32,32,32,550615106183110656,QP_AAPL,2015-01-01,"$AAPL News: ""Intel: $100 Windows 8.1 Smart TV ...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.847, 'pos': 0.153, 'comp...",0.4696,pos,0,1,0
33,33,33,550615434836209664,BargainTrapper,2015-01-01,http://goo.gl/efUF0i <--- Amazing subscriber ...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.673, 'pos': 0.327, 'comp...",0.8065,pos,0,1,0
34,34,34,550615564066906112,sportadore,2015-01-01,"Apple, Micron, SunEdison Propel Greenlight To ...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
35,35,35,550618588143710208,Chart_Guy,2015-01-01,Ever notice prior to earnings $aapl a plethora...,1,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.163, 'neu': 0.837, 'pos': 0.0, 'comp...",-0.5719,neg,1,0,1
36,36,36,550619690783895552,Dreamstyleking,2015-01-01,@IndiaToday: Apple sued over iOS 8 update that...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
37,37,37,550622251674898432,Dreamstyleking,2015-01-01,Apple Watch is everything we think a watch sho...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
38,38,38,550622415345438722,SentiQuant,2015-01-01,#SENTISHIFTUP $QUAD $FB $IGN $SPY $O $WAG $AAP...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
39,39,39,550622415941042177,SentiQuant,2015-01-01,#SENTISHIFTDOWN $IMRS $AME $AAPL $WAG $O $SPY ...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
40,40,40,550622416213651456,SentiQuant,2015-01-01,#VOLUMESHIFTUP $IMRS $AME $QUAD $O $WAG $IGN $...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
41,41,41,550622416503046144,SentiQuant,2015-01-01,#TOPTICKERTWEETS $IMRS $SPY $AAPL $IGN $QUAD $...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0
42,42,42,550622874419994624,MacHashNews,2015-01-01,"New year, new name: Lift personal coaching app...",0,0,1,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,1,1,0
43,43,43,550627500481458177,SeekingAlpha,2015-01-01,Best Dividend Stocks For 2015 - Here's My Top ...,0,2,1,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.667, 'pos': 0.333, 'comp...",0.7184,pos,3,1,0
44,44,44,550627502016561152,QP_AAPL,2015-01-01,"$AAPL News: ""Best Dividend Stocks For 2015 - H...",0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.716, 'pos': 0.284, 'comp...",0.7476,pos,0,1,0
45,45,45,550630663443869699,MacHashNews,2015-01-01,"Phones4U liquidating its entire iPhone, iPad s...",0,0,1,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,1,1,0
46,46,46,550631853049122817,sportadore,2015-01-01,Best Dividend Stocks For 2015 - Here''s My Top...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.684, 'pos': 0.316, 'comp...",0.7184,pos,0,1,0
47,47,47,550635306224193536,JRNavarro75,2015-01-01,$AAPL $IBM Why Apple’s IBM partnership was th...,0,0,1,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,1,1,0
48,48,48,550636704064086016,SocialAlphaInc,2015-01-01,Significant activity on social media: $QUAD $W...,0,0,1,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 0.899, 'pos': 0.101, 'comp...",0.2023,pos,1,1,0
49,49,49,550638430556667904,SmallCaps33,2015-01-01,Tip #4 How to identify a HOT SECTOR? http://wp...,0,0,0,AAPL,...,112.82,113.13,110.21,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,0,1,0

In [11]:
test_sent = main_df[main_df.tweet_id == 550520264228737024]

In [12]:
print(test_sent.body)

2    GOOD LUCK“@WSJ: Apple is being sued for falsel...
Name: body, dtype: object

In [13]:
print(test_sent.sent_scores)

2    {'neg': 0.0, 'neu': 0.805, 'pos': 0.195, 'comp...
Name: sent_scores, dtype: object

In [ ]:
#probably worth looking into individual breakdown for pos/neg/nuetral.  for example, this one is classified as postive, though is mostly nuetral, 
#and has a negative connotation with apple being sued and some sarcasm.

In [ ]:
#also might be worth looking at total interaction, and making the pos/neg based on the average cumulative score per day
#in that case, also add a parmeter for number of tweets that day?

<b>Export Dataset with Sentiment</b>

In [15]:
main_df.to_csv(processed_data_directory_path+'main_df.csv')

In [5]:
main_df = pd.read_csv(processed_data_directory_path+'main_df.csv')

<b>try creating logic for each week </b>

In [30]:
main_df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'tweet_id', 'writer', 'post_date', 'body',
       'comment_num', 'retweet_num', 'like_num', 'ticker_symbol',
       'company_name', 'day_date', 'close_value', 'volume', 'open_value',
       'high_value', 'low_value', 'return', 'sent_scores', 'compound',
       'tweet_sent', 'reaction_num', 'positive', 'negative'],
      dtype='object')

In [31]:
logic = {'open_value'  : 'first',
         'high_value'  : 'max',
         'low_value'   : 'min',
         'close_value' : 'last',
         'volume': 'sum',
        'reaction_num': 'sum',
        'compound': 'mean',
        'writer': 'nunique',
        'body': 'count',
        'positive': 'sum',
        'negative': 'sum'}

In [32]:
from copy import deepcopy
test_df = deepcopy(main_df)

In [33]:
offset = pd.offsets.timedelta(days=-6)

In [34]:
test_df.set_index('post_date', inplace = True)

In [35]:
test_df.index = pd.to_datetime(test_df.index)

In [36]:
#create weekly dataset per ticker symbol
summary_df = test_df.groupby('ticker_symbol').resample('W', loffset=offset).apply(logic)

In [37]:
summary_df

                          open_value  high_value  low_value  close_value  \
ticker_symbol post_date
AAPL          2014-12-29      112.82      113.13     107.35       109.33
              2015-01-05      108.29      113.25     104.63       112.01
              2015-01-12      112.60      112.80     105.20       105.99
              2015-01-19      107.03      113.75     105.20       112.98
              2015-01-26      113.74      120.00     109.03       117.16
...                              ...         ...        ...          ...
TSLA          2019-12-02      329.40      338.86     327.25       335.89
              2019-12-09      336.59      365.21     335.08       358.39
              2019-12-16      362.55      413.00     362.50       405.59
              2019-12-23      411.78      435.31     410.00       430.38
              2019-12-30      428.79      429.00     402.08       418.33

                                 volume  reaction_num  compound  writer  \
ticker_symbol post_date
AAPL          2014-12-29   101123903100          5185  0.161663     635
              2015-01-05   379213573670          6183  0.160282    1333
              2015-01-12   386514603660          4830  0.112675    1369
              2015-01-19   288118798950          4339  0.154350    1119
              2015-01-26  1462857719310         26842  0.136326    4040
...                                 ...           ...       ...     ...
TSLA          2019-12-02    35065979074         72862  0.098587    1391
              2019-12-09    45602346100         81534  0.108315    1546
              2019-12-16   118467977435        107569  0.126973    2304
              2019-12-23    86675881048        108011  0.146225    2604
              2019-12-30    27038708610         24356  0.108478     935

                           body  positive  negative
ticker_symbol post_date
AAPL          2014-12-29   1969      1699       270
              2015-01-05   6684      5781       903
              2015-01-12   6112      5088      1024
              2015-01-19   5584      4922       662
              2015-01-26  14469     12363      2106
...                         ...       ...       ...
TSLA          2019-12-02   5568      4136      1432
              2019-12-09   5924      4428      1496
              2019-12-16   8035      6178      1857
              2019-12-23   8020      6283      1737
              2019-12-30   2302      1763       539

[1572 rows x 11 columns]

In [51]:
summary_df['pct_change'] = summary_df.groupby('ticker_symbol')['close_value'].pct_change()

In [53]:
summary_df['ratio_pos'] = summary_df['positive'] / (summary_df['positive'] + summary_df['negative'])

In [55]:
summary_df['ratio_neg'] = summary_df['negative'] / (summary_df['positive'] + summary_df['negative'])

In [56]:
summary_df

                          open_value  high_value  low_value  close_value  \
ticker_symbol post_date
AAPL          2014-12-29      112.82      113.13     107.35       109.33
              2015-01-05      108.29      113.25     104.63       112.01
              2015-01-12      112.60      112.80     105.20       105.99
              2015-01-19      107.03      113.75     105.20       112.98
              2015-01-26      113.74      120.00     109.03       117.16
...                              ...         ...        ...          ...
TSLA          2019-12-02      329.40      338.86     327.25       335.89
              2019-12-09      336.59      365.21     335.08       358.39
              2019-12-16      362.55      413.00     362.50       405.59
              2019-12-23      411.78      435.31     410.00       430.38
              2019-12-30      428.79      429.00     402.08       418.33

                                 volume  reaction_num  compound  writer  \
ticker_symbol post_date
AAPL          2014-12-29   101123903100          5185  0.161663     635
              2015-01-05   379213573670          6183  0.160282    1333
              2015-01-12   386514603660          4830  0.112675    1369
              2015-01-19   288118798950          4339  0.154350    1119
              2015-01-26  1462857719310         26842  0.136326    4040
...                                 ...           ...       ...     ...
TSLA          2019-12-02    35065979074         72862  0.098587    1391
              2019-12-09    45602346100         81534  0.108315    1546
              2019-12-16   118467977435        107569  0.126973    2304
              2019-12-23    86675881048        108011  0.146225    2604
              2019-12-30    27038708610         24356  0.108478     935

                           body  positive  negative  pct_change  ratio_pos  \
ticker_symbol post_date
AAPL          2014-12-29   1969      1699       270         NaN   0.862875
              2015-01-05   6684      5781       903    0.024513   0.864901
              2015-01-12   6112      5088      1024   -0.053745   0.832461
              2015-01-19   5584      4922       662    0.065950   0.881447
              2015-01-26  14469     12363      2106    0.036998   0.854447
...                         ...       ...       ...         ...        ...
TSLA          2019-12-02   5568      4136      1432    0.018034   0.742816
              2019-12-09   5924      4428      1496    0.066986   0.747468
              2019-12-16   8035      6178      1857    0.131700   0.768886
              2019-12-23   8020      6283      1737    0.061121   0.783416
              2019-12-30   2302      1763       539   -0.027999   0.765856

                          ratio_neg
ticker_symbol post_date
AAPL          2014-12-29   0.137125
              2015-01-05   0.135099
              2015-01-12   0.167539
              2015-01-19   0.118553
              2015-01-26   0.145553
...                             ...
TSLA          2019-12-02   0.257184
              2019-12-09   0.252532
              2019-12-16   0.231114
              2019-12-23   0.216584
              2019-12-30   0.234144

[1572 rows x 14 columns]

In [78]:
#processing

In [50]:
summary_df[summary_df['compound']<0]

,,open_value,high_value,low_value,close_value,volume,reaction_num,compound,writer,body,positive,negative
ticker_symbol,post_date,,,,,,,,,,,
GOOG,2018-06-18,1143.65,1186.2856,1143.59,1155.48,1331050346,1218,-0.006683,358,940,693,247
TSLA,2016-03-07,197.68,213.2900,197.40,207.50,5958817504,1182,-0.004328,453,1480,1077,403

In [57]:
summary_df.to_csv(processed_data_directory_path+'weekly_data.csv')